In [40]:
%config IPCompleter.greedy=True

## Random Forest-regression

In [41]:
%matplotlib inline
import matplotlib
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [42]:
from sklearn import datasets, linear_model
from sklearn.model_selection import train_test_split

In [43]:
from sklearn import datasets ## imports datasets from scikit-learn

In [44]:
data = datasets.load_boston() ## Loads Boston dataset from datasets Library

In [74]:
# define the data/predictions as the pre-set feature names
X = pd.DataFrame(data.data,columns=data.feature_names)

In [46]:
X.head(8)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
5,0.02985,0.0,2.18,0.0,0.458,6.430,58.7,6.0622,3.0,222.0,18.7,394.12,5.21
6,0.08829,12.5,7.87,0.0,0.524,6.012,66.6,5.5605,5.0,311.0,15.2,395.60,12.43
7,0.14455,12.5,7.87,0.0,0.524,6.172,96.1,5.9505,5.0,311.0,15.2,396.90,19.15

In [47]:
# Put the target (housing value -- MEDV) in another DataFrame
Y = pd.DataFrame(data.target, columns=["MEDV"])

In [48]:
Y.head(8) #continuous numerical variable

   MEDV
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2
5  28.7
6  22.9
7  27.1

In [49]:
X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size = .2, random_state=25) #20% hold out for testing

## Random Forest Regression

In [50]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression

In [51]:
regr = RandomForestRegressor(max_depth=2, random_state=0)

In [52]:
regr.fit(X_train, y_train)

/opt/conda/lib/python2.7/site-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=2,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=0, verbose=0, warm_start=False)

In [53]:
print(regr.feature_importances_)

[ 0.          0.          0.          0.          0.00729892  0.70021159
  0.          0.          0.          0.          0.          0.
  0.29248949]

In [54]:
importances = regr.feature_importances_ #RF based predictor variable importance

In [55]:
indices = np.argsort(importances)[::-1]
for f in range(X.shape[1]):
    print("%d. feature %d (%f)" %(f+1,indices[f],importances[indices[f]]))

1. feature 5 (0.700212)
2. feature 12 (0.292489)
3. feature 4 (0.007299)
4. feature 11 (0.000000)
5. feature 10 (0.000000)
6. feature 9 (0.000000)
7. feature 8 (0.000000)
8. feature 7 (0.000000)
9. feature 6 (0.000000)
10. feature 3 (0.000000)
11. feature 2 (0.000000)
12. feature 1 (0.000000)
13. feature 0 (0.000000)

In [56]:
X.head(8)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
5,0.02985,0.0,2.18,0.0,0.458,6.430,58.7,6.0622,3.0,222.0,18.7,394.12,5.21
6,0.08829,12.5,7.87,0.0,0.524,6.012,66.6,5.5605,5.0,311.0,15.2,395.60,12.43
7,0.14455,12.5,7.87,0.0,0.524,6.172,96.1,5.9505,5.0,311.0,15.2,396.90,19.15

In [57]:
Y_pred = regr.predict(X_test)

In [58]:
print(Y_pred)

[ 15.36462224  15.36462224  23.01660873  14.54563994  16.25055599
  23.01660873  24.08692209  14.54563994  14.54563994  41.65039063
  14.54563994  14.54563994  17.13054181  23.01660873  25.0774782
  23.01660873  23.01660873  14.54563994  14.54563994  23.01660873
  23.01660873  14.54563994  23.01660873  31.98945675  23.01660873
  23.01660873  45.0534172   23.01660873  23.01660873  23.01660873
  23.01660873  24.08692209  23.01660873  23.01660873  14.54563994
  23.01660873  23.01660873  23.01660873  30.06063136  23.01660873
  23.01660873  23.01660873  14.54563994  16.25055599  14.54563994
  23.01660873  14.54563994  23.01660873  31.98945675  14.54563994
  14.54563994  15.36462224  25.9094525   23.01660873  23.01660873
  14.54563994  31.98945675  24.08692209  14.54563994  24.08692209
  14.54563994  22.1699973   23.01660873  23.01660873  24.08692209
  14.54563994  23.01660873  24.08692209  23.01660873  23.01660873
  23.01660873  23.01660873  14.54563994  23.01660873  45.0534172
  23.01660873  14.54563994  23.01660873  23.01660873  23.01660873
  23.01660873  23.01660873  34.156159    14.54563994  14.54563994
  22.1699973   23.01660873  16.25055599  23.01660873  23.01660873
  14.54563994  15.36462224  14.54563994  23.01660873  24.08692209
  23.01660873  23.01660873  23.01660873  14.54563994  24.83913914
  14.54563994  23.01660873]

In [59]:
from sklearn.metrics import mean_squared_error

In [60]:
mean_squared_error(y_test,Y_pred)

33.033671441782367

In [61]:
from sklearn.metrics import r2_score

In [62]:
r2_score(y_test,Y_pred)

0.5156731310597823

In [63]:
# define the data/predictors as the pre-set feature names
X = pd.DataFrame(data.data,columns=data.feature_names)

In [64]:
X.head(8)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
5,0.02985,0.0,2.18,0.0,0.458,6.430,58.7,6.0622,3.0,222.0,18.7,394.12,5.21
6,0.08829,12.5,7.87,0.0,0.524,6.012,66.6,5.5605,5.0,311.0,15.2,395.60,12.43
7,0.14455,12.5,7.87,0.0,0.524,6.172,96.1,5.9505,5.0,311.0,15.2,396.90,19.15

In [65]:
X1=X[["RM","LSTAT"]] #Let's work with 2 predictor variables

In [66]:
# Put the target (housing value -- MEDV) in another DataFrame
Y = pd.DataFrame(data.target, columns=["MEDV"])

In [67]:
X1_train, X1_test, y_train, y_test = train_test_split(X1,Y, test_size = .2, random_state=25) #20% hold out for testing

In [68]:
regr.fit(X1_train,y_train)

/opt/conda/lib/python2.7/site-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=2,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=0, verbose=0, warm_start=False)

In [69]:
Y1_pred = regr.predict(X1_test)

In [71]:
mean_squared_error(y_test,Y1_pred) #MSE

33.28128491726266

In [73]:
print(regr.feature_importances_)

[ 0.70093174  0.29906826]